@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .debug * {
    outline: 1px dashed gray;
  }

  .debug main {
    padding-bottom: 0;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(128, 128, 128, 0.5);
  border-radius: 5px;
}